<mat-toolbar color="primary">
  <span>Login</span>
</mat-toolbar>

<div class="content">
  <mat-form-field appearance="fill" class="input-field full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" [(ngModel)]="email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-field full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password">
  </mat-form-field>

  <button mat-raised-button color="primary" class="login-button full-width" (click)="onLogin()" [disabled]="loading">
    <ng-container *ngIf="!loading; else loadingSpinner">Ingresar</ng-container>
    <ng-template #loadingSpinner>
      <mat-progress-spinner diameter="24" mode="indeterminate"></mat-progress-spinner>
    </ng-template>
  </button>
  <div class="response-message" *ngIf="responseMessage.success || responseMessage.error">
    <mat-card *ngIf="responseMessage.success" class="success-message">
      <mat-card-content>{{ responseMessage.success }}</mat-card-content>
    </mat-card>

    <mat-card *ngIf="responseMessage.error" class="error-message">
      <mat-card-content>{{ responseMessage.error }}</mat-card-content>
    </mat-card>
  </div>
</div>
