<div class="content">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Buscar juegos</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="filterGames()" placeholder="Buscar...">
  </mat-form-field>

  <mat-list>
    <mat-list-item *ngFor="let game of filteredGames" [routerLink]="['/detalle-juego', game.id]" class="game-item">
      <div mat-line class="game-title">{{ game.title }}</div>
      <img mat-list-avatar class="image" [src]="game?.thumbnail" alt="{{game.title}}">
    </mat-list-item>
  </mat-list>
</div>
